.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  /* vertical */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10%;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-dropdown {
  display: none;
}

.navigation-dropdown ul {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 0 0 16px 16px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.navigation-dropdown ul li {
  text-align: center;
}

.navigation-dropdown ul li a {
  display: block;
  width: 100%;
  margin: 1rem -1rem;
  font-weight: 500;
}

.navigation-dropdown ul button {
  margin: 1rem -1rem;
  background: rgba(255, 255, 255, 1.0);
  font-weight: 500;
  color:rgba(0, 0, 0, 0.8);
}

.navigation-button {
  display: block;
  width: auto;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 16px;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.header a:hover,
.header a:active {
  padding: 0.75rem;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.header button {
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
}

.header button:hover,
.header button:active {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
}

@media(max-width: 720px) {
  .header {
    width: auto;
    font-size: 16px;
  }
  .navigation {
    display: none;
  }
  .navigation-dropdown {    
    display: block;
  }
}

